# Project 1 file system root
dfsroot/

# Project 1 instrumentation root
dfslog/

# Jupyter notebook cach
.ipynb_checkpoints/

# Idea
.idea/

# project3 .pyc files
project3/DWatchGUI.pyc
project3/LowLevelGUI.pyc
project3/WatchHardware.pyc

